# Introduction

In [3]:
# use # to comment a single line
"""
to comment more lines, use "
"""

print("Hello, World!")
print("Hello,", end=' ')
print("World!")
print(1, 2, 3, sep=", ")

Hello, World!
Hello, World!
1, 2, 3

In [4]:
# use format to personalize your text

A = "John"
B = 30
print("Hi %s, you're %d" %(A, B))
print("Hi {}, you're {}".format(A, B))
print(f"Hi {A}, you're {B}")

# d-int
# f-float
# s-string

Hi John, you're 30
Hi John, you're 30
Hi John, you're 30

In [5]:
x = 2.5
print(x)
print("%.2f" %(x))
print(f"The number is {x:.0f}")

x = 12345.65
print(f"The price is $ {x:,.2f}")

2.5
2.50
The number is 2
The price is $ 12,345.65

# Types

## Number

In [6]:
"""
1 = integer = int
1.1 = decimal = float
Basic operations:
+ (sum), - (sub), / (div), * (mult), ** (exp), // (int div), % (remainder)
"""

x=1+1
y=1.1+2 #float + int = float

print(type(x), type(y))

<class 'int'> <class 'float'>

In [7]:
# Calculator
Number1 = 4
Number2 = 7

print("sum: ", Number1 + Number2)
print("sub: ", Number1 - Number2)
print("div: ", Number1 / Number2)
print("mult: ", Number1 * Number2)
print("exp: ", Number1 ** Number2)
print("int div: ", Number1 // Number2)
print("remainder: ", Number1 % Number2)

sum:  11
sub:  -3
div:  0.5714285714285714
mult:  28
exp:  16384
int div:  0
remainder:  4

## String

In [8]:
# Strings are texts
# Use "" or ''

Name = "Ana"
Age = '20'

print(type(Age))
print("Hi! I'm " + Name + ". I'm " + Age + " years old")

<class 'str'>
Hi! I'm Ana. I'm 20 years old

In [9]:
# Use * to repeat
print ("-" *10)

----------

## Boolean

In [10]:
# True (1) or false (0)
# Frequently used in conditions and comparisons

active = True
print(type(active))

print(5==6)
print(type(5==6))

<class 'bool'>
False
<class 'bool'>

Operators
==, !=, >, <, >=, <=

In [11]:
print(Number1 == Number2)
print(Number1 != Number2)
print(Number1 > Number2)
print(Number1 < Number2)
print(Number1 >= Number2)
print(Number1 <= Number2)

False
True
False
True
False
True

Operators and, or, not

In [12]:
print(True and True)
print(True and False)
print(True or False)
print(not True)

True
False
True
False

## Lists

In [13]:
# A list can store multiple values ​​of different types

data = ['Peter', 25, True]
data.append(3.14)
print(data)
print(data[1])

['Peter', 25, True, 3.14]
25

In [14]:
list2 = ['text', 'to', 'add']
data = data + list2
print(data)

['Peter', 25, True, 3.14, 'text', 'to', 'add']

In [15]:
# Tuple is similar to list but immutable
colors = ('red', 'blue', 'pink')
print(colors[0])

red

# Variables

In [16]:
# To assign a value to a variable, use =
# Variable = Value

Name = "Marie"
print(Name)

# Careful! You cannot start a variable with a number or special character
# Start variables with letters or _
# To make it more legible, you can use snake_case or objCaract
# Python is case sensitive -> Name != name

Marie

# Input

In [17]:
# Use input to ask the user for a value
# Return string
age = input("How old are you? ")
print(type(age))
print("You are " + age + " years old")

How old are you? 15
<class 'str'>
You are 15 years old

In [18]:
height = float(input("How tall are you? "))
weight = float(input("How much do you weigh? "))
print("Your IMC is ", weight / (height**2))

How tall are you? 1.65
How much do you weigh? 60
Your IMC is  22.03856749311295

# Loops

In [1]:
# In Python, 'if' is a conditional statement used to control the flow of a program.
# It allows you to execute a block of code only if a certain condition is true.

x = 10
if x>5:
  print('x is greater than 5')

x is greater than 5

In [2]:
if x==10:
  print('x is equal to 10')
else:
  print('x is not equal to 10')

x is equal to 10

In [24]:
grade = float(input('Enter your grade (0/100): '))
if grade >= 90:
  print('A')
elif grade >= 80:
  print('B')
elif grade >= 70:
  print('C')
elif grade >= 60:
  print('D')
else:
  print('F')

Enter your grade (0/100): 75
C

# Exercises

In [19]:
#1. Calculate de average
test1 = input('What is your first test score? ')
test2 = input('What is your second test score? ')
test3 = input('What is your third test score? ')
average = (float(test1) + float(test2) + float(test3)) / 3
print('Your average is %.2f' %(average))

What is your first test score? 8
What is your second test score? 9.5
What is your third test score? 6
Your average is 7.83

In [20]:
#2. Discount Calculator
originalPrice = input('Original price: ')
discount = input('% discount: ')
newPrice = float(originalPrice)*(1 - float(discount)/100)
print('New price: %.2f' %(newPrice))

Original price: 750
% discount: 15
New price: 637.50

In [21]:
#3. Even or odd?
number = input('Number: ')
if int(number) % 2 == 0:
    print('Even')
else:
    print('Odd')

Number: 9
Odd

# Easter Egg

In [22]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!