# Introduction

In [65]:
# use # to comment a single line
"""
to comment more lines, use "
"""

print("Hello, World!")
print("Hello,", end=' ')
print("World!")
print(1, 2, 3, sep=", ")

Hello, World!
Hello, World!
1, 2, 3

In [66]:
# use format to personalize your text

A = "John"
B = 30
print("Hi %s, you're %d" %(A, B))
print("Hi {}, you're {}".format(A, B))
print(f"Hi {A}, you're {B}")

# d-int
# f-float
# s-string

Hi John, you're 30
Hi John, you're 30
Hi John, you're 30

In [67]:
x = 2.5
print(x)
print("%.2f" %(x))
print(f"The number is {x:.0f}")

x = 12345.65
print(f"The price is $ {x:,.2f}")

2.5
2.50
The number is 2
The price is $ 12,345.65

# Types

## Number

In [68]:
"""
1 = integer = int
1.1 = decimal = float
Basic operations:
+ (sum), - (sub), / (div), * (mult), ** (exp), // (int div), % (remainder)
"""

x=1+1
y=1.1+2 #float + int = float

print(type(x), type(y))

<class 'int'> <class 'float'>

In [69]:
# Calculator
Number1 = 4
Number2 = 7

print("sum: ", Number1 + Number2)
print("sub: ", Number1 - Number2)
print("div: ", Number1 / Number2)
print("mult: ", Number1 * Number2)
print("exp: ", Number1 ** Number2)
print("int div: ", Number1 // Number2)
print("remainder: ", Number1 % Number2)

sum:  11
sub:  -3
div:  0.5714285714285714
mult:  28
exp:  16384
int div:  0
remainder:  4

## String

In [70]:
# Strings are texts
# Use "" or ''

Name = "Ana"
Age = '20'

print(type(Age))
print("Hi! I'm " + Name + ". I'm " + Age + " years old")

<class 'str'>
Hi! I'm Ana. I'm 20 years old

In [71]:
# Use * to repeat
print ("-" *10)

----------

## Boolean

In [72]:
# True (1) or false (0)
# Frequently used in conditions and comparisons

active = True
print(type(active))

print(5==6)
print(type(5==6))

<class 'bool'>
False
<class 'bool'>

Operators
==, !=, >, <, >=, <=

In [73]:
print(Number1 == Number2)
print(Number1 != Number2)
print(Number1 > Number2)
print(Number1 < Number2)
print(Number1 >= Number2)
print(Number1 <= Number2)

False
True
False
True
False
True

Operators and, or, not

In [74]:
print(True and True)
print(True and False)
print(True or False)
print(not True)

True
False
True
False

## Lists

In [75]:
# A list can store multiple values ​​of different types

data = ['Peter', 25, True]
data.append(3.14)

print(data)
print(data[1])
print(data[-1])

['Peter', 25, True, 3.14]
25
3.14

In [76]:
# To add an element at the end, use append
# Use insert to add an element elsewhere

data.insert(0, 'John')
print(data)

data.insert(2, 'third')
print(data)

['John', 'Peter', 25, True, 3.14]
['John', 'Peter', 'third', 25, True, 3.14]

In [77]:
# To delete the first occurrence of an element, use remove

data.remove('third')
print(data)

['John', 'Peter', 25, True, 3.14]

In [78]:
# To access and remove the last element, use pop

print(data.pop())
print(data)

3.14
['John', 'Peter', 25, True]

In [79]:
list2 = ['text', 'to', 'add']
data = data + list2
print(data)

['John', 'Peter', 25, True, 'text', 'to', 'add']

In [80]:
list2[0] = 'new'
print(list2)

['new', 'to', 'add']

In [81]:
# To clean a list
data.clear()
print(data)

[]

## Tuple

Tuple is similar to list but immutable

In [82]:
colors = ('red', 'blue', 'pink')
print(colors[0])

red

In [83]:
colors2 = ('purple', 'green', 'red')
colors = colors + colors2
print(colors)
print(colors2 * 2)

('red', 'blue', 'pink', 'purple', 'green', 'red')
('purple', 'green', 'red', 'purple', 'green', 'red')

In [84]:
# Slice
colors[5:]

('red',)

In [85]:
# Length
len(colors)

6

In [86]:
# Count
colors.count('red')

2

## Dictionaries

In Python, dictionaries are a type of data structure used to store data in pairs of keys and values.

Each key is unique and is used to access its corresponding value.

Dictionaries are written using curly braces {}, with the key and value separated by a colon.

Dictionaries are useful for organizing and retrieving data quickly.

In [87]:
people = {
    'Name': 'Peter',
    'Age': 25,
    'Active': True
}

print(people)

print(f"Hi! I'm {people['Name']}. I'm {people['Age']} years old.")

{'Name': 'Peter', 'Age': 25, 'Active': True}
Hi! I'm Peter. I'm 25 years old.

In [88]:
people['Age'] = 26
print(people)

{'Name': 'Peter', 'Age': 26, 'Active': True}

In [89]:
# Add new key-value
people['Height'] = 1.8
print(people)

{'Name': 'Peter', 'Age': 26, 'Active': True, 'Height': 1.8}

In [90]:
# Delete a key-value
del people['Active']
print(people)

{'Name': 'Peter', 'Age': 26, 'Height': 1.8}

In [91]:
# Finding a key
hasKey = 'Name' in people
print(hasKey)

hasKey = 'Active' in people
print(hasKey)

True
False

# Variables

In [92]:
# To assign a value to a variable, use =
# Variable = Value

Name = "Marie"
print(Name)

# Careful! You cannot start a variable with a number or special character
# Start variables with letters or _
# To make it more legible, you can use snake_case or objCaract
# Python is case sensitive -> Name != name

Marie

# Input

In [93]:
# Use input to ask the user for a value
# Return string
age = input("How old are you? ")
print(type(age))
print("You are " + age + " years old")

How old are you? 15
<class 'str'>
You are 15 years old

In [94]:
height = float(input("How tall are you? "))
weight = float(input("How much do you weigh? "))
print("Your IMC is ", weight / (height**2))

How tall are you? 1.7
How much do you weigh? 65
Your IMC is  22.49134948096886

# If (conditional)

In [95]:
# In Python, 'if' is a conditional statement used to control the flow of a program.
# It allows you to execute a block of code only if a certain condition is true.

x = 10
if x>5:
  print('x is greater than 5')

x is greater than 5

In [96]:
if x==10:
  print('x is equal to 10')
else:
  print('x is not equal to 10')

x is equal to 10

In [97]:
grade = float(input('Enter your grade (0/100): '))
if grade >= 90:
  print('A')
elif grade >= 80:
  print('B')
elif grade >= 70:
  print('C')
elif grade >= 60:
  print('D')
else:
  print('F')

Enter your grade (0/100): 67
D

# Exercises

In [98]:
#1. Calculate de average
test1 = input('What is your first test score? ')
test2 = input('What is your second test score? ')
test3 = input('What is your third test score? ')
average = (float(test1) + float(test2) + float(test3)) / 3
print('Your average is %.2f' %(average))

What is your first test score? 8.5
What is your second test score? 4
What is your third test score? 7.8
Your average is 6.77

In [99]:
#2. Discount Calculator
originalPrice = input('Original price: ')
discount = input('% discount: ')
newPrice = float(originalPrice)*(1 - float(discount)/100)
print('New price: %.2f' %(newPrice))

Original price: 750
% discount: 15
New price: 637.50

In [100]:
#3. Even or odd?
number = input('Number: ')
if int(number) % 2 == 0:
    print('Even')
else:
    print('Odd')

Number: 15
Odd

In [101]:
#4. Slice a list and properties
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

print(my_list[2:7])
print(len(my_list))

list.append(my_list, 1)
print(my_list.count(1))

my_list.reverse()
print(my_list)

[3, 4, 5, 6, 7]
9
2
[1, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [103]:
#5. Sum all elements
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]

sum=0
for i in my_list:
  sum = sum + i
print(sum)

45

In [104]:
#6. Remove repeated elements
my_list = [0, 1, 1, 1, 1, 2, 3, 4,]
while 1 in my_list:
  my_list.remove(1)
print(my_list)

[0, 2, 3, 4]

In [105]:
#7. Remove duplicated elements
my_list = [0, 1, 1, 1, 2, 2, 2, 3, 4, 4, 4, 4, 5, 5]
my_list = list(set(my_list))
print(my_list)

[0, 1, 2, 3, 4, 5]

# Easter Egg

In [106]:
import this

The Zen of Python, by Tim Peters

Beautiful is better than ugly.
Explicit is better than implicit.
Simple is better than complex.
Complex is better than complicated.
Flat is better than nested.
Sparse is better than dense.
Readability counts.
Special cases aren't special enough to break the rules.
Although practicality beats purity.
Errors should never pass silently.
Unless explicitly silenced.
In the face of ambiguity, refuse the temptation to guess.
There should be one-- and preferably only one --obvious way to do it.
Although that way may not be obvious at first unless you're Dutch.
Now is better than never.
Although never is often better than *right* now.
If the implementation is hard to explain, it's a bad idea.
If the implementation is easy to explain, it may be a good idea.
Namespaces are one honking great idea -- let's do more of those!